In [1]:
from sqlalchemy import create_engine
from config import db_password
import pandas as pd

In [2]:
db_location = 'probowl.cq2v3ncckm8b.us-east-2.rds.amazonaws.com'

In [3]:
db_string = f"postgresql://postgres:{db_password}@{db_location}/postgres"

In [4]:
engine = create_engine(db_string)

In [5]:
df = pd.read_sql_table('total_stats_2019', engine)

In [6]:
df.head()

,player,tm,age,pos,g,gs,cmp,pass_att,pass_yds,pass_td,...,gwd,rush_att,rush_yds,rush_td,tgt,rec,rec_yds,rec_td,fmb,pro_bowl
0,Jameis Winston,TAM,25,QB,16,16,380,626,5109,33,...,2,59,250,1,0,0,0,0,0,False
1,Dak Prescott,DAL,26,QB,16,16,388,596,4902,30,...,0,52,277,3,0,0,0,0,0,False
2,Jared Goff,LAR,25,QB,16,16,394,626,4638,22,...,2,33,40,2,0,0,0,0,0,False
3,Philip Rivers,LAC,38,QB,16,16,390,591,4615,23,...,2,12,29,0,0,0,0,0,0,False
4,Matt Ryan,ATL,34,QB,15,15,408,616,4466,26,...,2,34,147,1,0,0,0,0,0,False